<div class="alineacion-page">
    <h1 class="titulo">🧠 Alineación Titular</h1>
    <div class="boton-volver">
      <button routerLink="/inicio" class="btn-volver">⬅️ Volver al Inicio</button>
    </div>
  
    <!-- BLOQUE TITULARES -->
    <div class="campo-tactico">
  
      <!-- Línea 1 -->
      <div class="linea-tactica">
        <div class="jugador">⚽<span>Delantero</span></div>
      </div>
  
      <!-- Línea 2 -->
      <div class="linea-tactica">
        <div class="jugador">🎯<span>Ext Izq</span></div>
        <div class="jugador">🔁<span>MCD</span></div>
        <div class="jugador">🔁<span>MCO</span></div>
        <div class="jugador">🎯<span>Ext Der</span></div>
      </div>
  
      <!-- Línea 3 -->
      <div class="linea-tactica">
        <div class="jugador">🛡️<span>Def Izq</span></div>
        <div class="jugador">🛡️<span>Def Der</span></div>
      </div>
  
      <!-- Línea 4 -->
      <div class="linea-tactica">
        <div class="jugador">🧤<span>Portero</span></div>
      </div>
    </div>
  
    <h2 class="subtitulo">🪑 Suplentes</h2>
    <div class="suplentes-scroll">
      <div class="jugador-suplente" *ngFor="let jugador of jugadoresConvocados">
        <img
          class="jugador-foto"
          [src]="jugador.foto || '/assets/fotos/default.png'"
          alt="Foto de {{ jugador.nombre }}"
        />
        <span>{{ jugador.nombre }}</span>
      </div>
    </div>
    