<div class="resumen-page">
  <h1 class="titulo">📊 Historial de Partidos</h1>

  <div *ngIf="partidos.length === 0" class="mensaje-vacio">
    ⚠️ No hay partidos guardados todavía.
  </div>

  <ul class="lista-partidos">
    <li *ngFor="let partido of partidos">
      <div class="info-partido">
        <strong>🆚 {{ partido.rival || 'Sin nombre' }}</strong>
        <!-- <span>👥 Jugadores convocados: {{ partido.jugadoresConvocados.length }}</span> -->
        <span>🗓️ Fecha: {{ partido.fechaPartido | date: 'dd/MM/yyyy' }}</span>
        <span>📌 Estado: {{ partido.estado || 'pendiente' }}</span>
      </div>
      <button class="btn-detalle">👁️ Ver Detalles</button>
    </li>
  </ul>

  <div class="boton-volver">
    <button routerLink="/inicio" class="btn-volver">⬅️ Volver al inicio</button>
  </div>
</div>
