<div class="en-juego-page">
  <h1 class="titulo">⚽ Partido contra {{ rival }}</h1>

  <!-- 🎛️ Panel de control -->
  <div class="panel-control">
    <div class="cronometro">{{ tiempo$ | async }}</div>
    <div class="botones-control">
      
      <!-- Iniciar 1ª Parte -->
       <button *ngIf="estadoPrimeraParte === 'esperando'" (click)="iniciarPrimeraParte()">▶️ Iniciar 1ª Parte</button>
       <button *ngIf="estadoPrimeraParte === 'descanso'" (click)="iniciarSegundaParte()">▶️ Iniciar 2ª Parte</button>
       <button *ngIf="estadoPrimeraParte === 'live'"(click)="finalizarPrimeraParte()">⛔ Finalizar 1ª Parte</button>
       <button *ngIf="estadoSegundaParte === 'live'"(click)="finalizarSegundaParte()">⛔ Finalizar 2ª Parte</button>
        <!-- Ajustes Segunda parte  -->
         <button *ngIf="estadoPrimeraParte === 'descanso'" [routerLink]="['/alineacion', partidoId]">
           ⚙️ Ajustes 2ª Parte
        </button>
    </div>
  </div>

  <!-- 🟩 Jugadores en el campo -->
  <h2 class="subtitulo">Titulares</h2>
  <div class="campo-juego">
  <div class="linea-jugadores">
    <div class="jugador-en-campo" *ngFor="let jugador of titulares">
      <img [src]="jugador.foto || '/assets/fotos/default.png'" class="avatar" />
      <br>
      <span class="nombre">{{ jugador.nombre }}</span>
      <br>

      <ng-container *ngIf="minutos$ | async as minutos">
        <span class="minutos">{{ minutos[jugador.id!] || 0 }}'</span>
      </ng-container> <br>

      <!-- Seleccionar titular que va a salir -->
      <button class="btn-accion salir" (click)="seleccionarTitular(jugador)">
        ⏏️ Salir
      </button>
    </div>
  </div>
</div>

  <!-- 🪑 Suplentes -->
  <h2 class="subtitulo">🪑 Suplentes</h2>
  <div class="suplentes-lista">
  <div class="jugador-suplente" *ngFor="let jugador of suplentes">
    <img [src]="jugador.foto || '/assets/fotos/default.png'" class="avatar-mini" />
    <span>{{ jugador.nombre }}</span>

    <ng-container *ngIf="minutos$ | async as minutos">
      <span class="minutos">{{ minutos[jugador.id!] || 0 }}'</span>
    </ng-container>

    <!-- Seleccionar suplente que entra -->
    <button class="btn-accion entrar" (click)="seleccionarSuplente(jugador)">
      👟 Entrar
    </button>
  </div>
</div>

<div class="boton-swap" *ngIf="titularSeleccionado && suplenteSeleccionado">
  <button class="btn-swap" (click)="cambiarJugador(titularSeleccionado, suplenteSeleccionado)">
    🔄 Confirmar cambio: Sale: {{ titularSeleccionado?.nombre }} Entra: {{ suplenteSeleccionado?.nombre }}
  </button>
</div>



  <!-- ⬅️ Botón volver -->
  <div class="boton-volver">
    <button routerLink="/inicio" class="btn-volver">⬅️ Volver al inicio</button>
  </div>
</div>


