<div class="partidos-dashboard">
  <h1 class="titulo">Lista de Partidos</h1>
  <p class="subtitulo">Todos los partidos finalizados, en juego y por jugar.</p>
  <div class="boton-volver">
    <button routerLink="/inicio" class="btn-volver">⬅️ Volver al Inicio</button>
  </div>
  <div *ngIf="partidos.length === 0" class="mensaje-vacio">
    ⚠️ No hay partidos registrados aún.
  </div>
  <div *ngIf="partidos.length > 0" class="grid-partidos">
    <div *ngFor="let partido of partidos" class="partido-card">
      <div class="partido-encabezado">
        <h3>⚽ {{ partido.tipoPartido || "Amistoso" }}</h3>
        <h2>🆚 {{ partido.rival }}</h2>
        <small>
          🗓️ {{ partido.fechaPartido | date : "dd/MM/yyy" }}<br />
          ⏰ {{ partido.fechaPartido | date : "shortTime" }}
        </small>
      </div>
      <div class="partido-detalles">
        <p><strong>⏱️ Duración:</strong> {{ partido.duracionParte }} min</p>
        <p><strong>📌 Estado:</strong> {{ partido.estado || "pendiente" }}</p>
      </div>
      <div class="partido-acciones">
        <!-- <button
          mat-stroked-button
          color="primary"
          (click)="jugadrPartido(partido)"
        >
          ⚽ Jugar Partido
        </button> -->
        <button
          mat-stroked-button
          color="accent"
          (click)="editarPartido(partido)"
        >
          ✏️ Editar
        </button>
        <button
          mat-stroked-button
          color="warn"

        >
          🗑️ Eliminar
        </button>
        <!-- Estado en juego -->
        <button *ngIf="partido.estado === 'live'" disabled class="estado-live">
          🟢 EN JUEGO
        </button>
      </div>
    </div>
  </div>
</div>
